/*******************gitignore Objects file*****************/
/*******************Objects Listing folders****************/
Listings/
Objects/


/******************not gitignore file********************/
/*******************Libary Start User folders************/
!*.c
!*.h
!*.s

//////////////project folder////////////

*uvguix.haivi
*uvgui.haivil

